In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\artoe\Documents\DataAnalytics\Data Immersion\Exercises\Achievement 4\Instacart Basket Analysis'

In [3]:
ords_prods_customers = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_customers.pkl'))

In [4]:
ords_prods_customers.info

<bound method DataFrame.info of           order_id  user_id eval_set  order_number  orders_day_of_week  \
0          2539329        1    prior             1                   2
1          2539329        1    prior             1                   2
2          2539329        1    prior             1                   2
3          2539329        1    prior             1                   2
4          2539329        1    prior             1                   2
...            ...      ...      ...           ...                 ...
32399727   2977660   206209    prior            13                   1
32399728   2977660   206209    prior            13                   1
32399729   2977660   206209    prior            13                   1
32399730   2977660   206209    prior            13                   1
32399731   2977660   206209    prior            13                   1

          order_hour_of_day  days_since_prior_order  product_id  \
0                         8                     NaN         196
1                         8                     NaN       14084
2                         8                     NaN       12427
3                         8                     NaN       26088
4                         8                     NaN       26405
...                     ...                     ...         ...
32399727                 12                     7.0       14197
32399728                 12                     7.0       38730
32399729                 12                     7.0       31477
32399730                 12                     7.0        6567
32399731                 12                     7.0       22920

          add_to_cart_order  reordered  ...  surname  gender    state  age  \
0                         1          0  ...   Nguyen  Female  Alabama   31
1                         2          0  ...   Nguyen  Female  Alabama   31
2                         3          0  ...   Nguyen  Female  Alabama   31
3                         4          0  ...   Nguyen  Female  Alabama   31
4                         5          0  ...   Nguyen  Female  Alabama   31
...                     ...        ...  ...      ...     ...      ...  ...
32399727                  5          1  ...  Donovan  Female     Iowa   74
32399728                  6          0  ...  Donovan  Female     Iowa   74
32399729                  7          0  ...  Donovan  Female     Iowa   74
32399730                  8          0  ...  Donovan  Female     Iowa   74
32399731                  9          0  ...  Donovan  Female     Iowa   74

         date_joined n_dependants fam_status  income _merge   region
0          2/17/2019            3    married   40423   both    South
1          2/17/2019            3    married   40423   both    South
2          2/17/2019            3    married   40423   both    South
3          2/17/2019            3    married   40423   both    South
4          2/17/2019            3    married   40423   both    South
...              ...          ...        ...     ...    ...      ...
32399727   9/14/2019            3    married  137969   both  Midwest
32399728   9/14/2019            3    married  137969   both  Midwest
32399729   9/14/2019            3    married  137969   both  Midwest
32399730   9/14/2019            3    married  137969   both  Midwest
32399731   9/14/2019            3    married  137969   both  Midwest

[30959687 rows x 37 columns]>

In [5]:
#found a column (n_dependants) that requires a name change (spelling and format)
ords_prods_customers.rename(columns = {'n_dependants' : 'number_of_dependents'}, inplace = True)

In [6]:
ords_prods_customers.dtypes

order_id                         int64
user_id                          int64
eval_set                        object
order_number                     int64
orders_day_of_week               int64
order_hour_of_day                int64
days_since_prior_order         float64
product_id                       int64
add_to_cart_order                int64
reordered                        int64
product_name                    object
aisle_id                         int64
department_id                    int64
prices                         float64
match                         category
price_range_loc                 object
busiest_day                     object
busiest_days                    object
busiest_period_of_day           object
max_order                        int64
loyalty_flag                    object
avg_prod_price                 float64
spending_flag                   object
avg_days_since_prior_order     float64
orderfreq_flag                  object
Unnamed: 0                       int64
first_name                      object
surname                         object
gender                          object
state                           object
age                              int64
date_joined                     object
number_of_dependents             int64
fam_status                      object
income                           int64
_merge                        category
region                          object
dtype: object

In [7]:
#dropping unnecessary columns
ords_prods_customers.drop(columns=['Unnamed: 0'], inplace=True)

In [8]:
ords_prods_customers.drop(columns=['match'], inplace=True)

In [9]:
ords_prods_customers.drop(columns=['_merge'], inplace=True)

In [10]:
ords_prods_customers.drop(columns=['eval_set'], inplace=True)

In [11]:
ords_prods_customers.dtypes

order_id                        int64
user_id                         int64
order_number                    int64
orders_day_of_week              int64
order_hour_of_day               int64
days_since_prior_order        float64
product_id                      int64
add_to_cart_order               int64
reordered                       int64
product_name                   object
aisle_id                        int64
department_id                   int64
prices                        float64
price_range_loc                object
busiest_day                    object
busiest_days                   object
busiest_period_of_day          object
max_order                       int64
loyalty_flag                   object
avg_prod_price                float64
spending_flag                  object
avg_days_since_prior_order    float64
orderfreq_flag                 object
first_name                     object
surname                        object
gender                         object
state                          object
age                             int64
date_joined                    object
number_of_dependents            int64
fam_status                     object
income                          int64
region                         object
dtype: object

In [12]:
#overwriting previous pkl file to save space
ords_prods_customers.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_customers.pkl'))