importing libraries, assigning path and importing datasets

In [25]:
import pandas as pd
import numpy as np
import os

In [26]:
path = r'C:\Users\Deepa\Documents\DataAnalytics\Data Immersion\Exercises\Achievement 4\Instacart Basket Analysis'

In [27]:
# import orders_products_prior to df_ords_prior

In [28]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

checking shape and data types in df_ords_prior dataset

In [30]:
df_ords_prior.head(15)

    order_id  product_id  add_to_cart_order  reordered
0          2       33120                  1          1
1          2       28985                  2          1
2          2        9327                  3          0
3          2       45918                  4          1
4          2       30035                  5          0
5          2       17794                  6          1
6          2       40141                  7          1
7          2        1819                  8          1
8          2       43668                  9          0
9          3       33754                  1          1
10         3       24838                  2          1
11         3       17704                  3          1
12         3       21903                  4          1
13         3       17668                  5          1
14         3       46667                  6          1

In [31]:
df_ords_prior.shape

(32434489, 4)

In [32]:
df_ords_prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [33]:
# import orders_checked as df_ords

In [34]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

checking shape and datatypes in df_ords dataset

In [35]:
df_ords.head(15)

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0
5,5,5,3367565,1,prior,6,2,7,19.0
6,6,6,550135,1,prior,7,1,9,20.0
7,7,7,3108588,1,prior,8,1,14,14.0
8,8,8,2295261,1,prior,9,1,16,0.0
9,9,9,2550362,1,prior,10,4,8,30.0
10,10,10,1187899,1,train,11,4,8,14.0
11,11,11,2168274,2,prior,1,2,11,NaN
12,12,12,1501582,2,prior,2,5,10,10.0
13,13,13,1901567,2,prior,3,1,10,3.0
14,14,14,738281,2,prior,4,2,10,8.0

In [36]:
df_ords.dtypes

Unnamed: 0.1                int64
Unnamed: 0                  int64
order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [37]:
df_ords.shape

(3421083, 9)

merging df_ords and df_ords_prior on order_id

In [39]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

checking results of merge by viewing head() and value counts for _merge column

In [40]:
df_merged_large.head(60)

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both
5,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both
6,1,1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
7,1,1,2398795,1,prior,2,3,7,15.0,12427,3,1,both
8,1,1,2398795,1,prior,2,3,7,15.0,13176,4,0,both
9,1,1,2398795,1,prior,2,3,7,15.0,26088,5,1,both
10,1,1,2398795,1,prior,2,3,7,15.0,13032,6,0,both
11,2,2,473747,1,prior,3,3,12,21.0,196,1,1,both
12,2,2,473747,1,prior,3,3,12,21.0,12427,2,1,both
13,2,2,473747,1,prior,3,3,12,21.0,10258,3,1,both
14,2,2,473747,1,prior,3,3,12,21.0,25133,4,0,both
15,2,2,473747,1,prior,3,3,12,21.0,30450,5,0,both
16,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both
17,3,3,2254736,1,prior,4,4,7,29.0,12427,2,1,both
18,3,3,2254736,1,prior,4,4,7,29.0,10258,3,1,both
19,3,3,2254736,1,prior,4,4,7,29.0,25133,4,1,both
20,3,3,2254736,1,prior,4,4,7,29.0,26405,5,1,both
21,4,4,431534,1,prior,5,4,15,28.0,196,1,1,both
22,4,4,431534,1,prior,5,4,15,28.0,12427,2,1,both
23,4,4,431534,1,prior,5,4,15,28.0,10258,3,1,both
24,4,4,431534,1,prior,5,4,15,28.0,25133,4,1,both
25,4,4,431534,1,prior,5,4,15,28.0,10326,5,0,both
26,4,4,431534,1,prior,5,4,15,28.0,17122,6,0,both
27,4,4,431534,1,prior,5,4,15,28.0,41787,7,0,both
28,4,4,431534,1,prior,5,4,15,28.0,13176,8,1,both
29,5,5,3367565,1,prior,6,2,7,19.0,196,1,1,both
30,5,5,3367565,1,prior,6,2,7,19.0,12427,2,1,both
31,5,5,3367565,1,prior,6,2,7,19.0,10258,3,1,both
32,5,5,3367565,1,prior,6,2,7,19.0,25133,4,1,both
33,6,6,550135,1,prior,7,1,9,20.0,196,1,1,both
34,6,6,550135,1,prior,7,1,9,20.0,10258,2,1,both
35,6,6,550135,1,prior,7,1,9,20.0,12427,3,1,both
36,6,6,550135,1,prior,7,1,9,20.0,25133,4,1,both
37,6,6,550135,1,prior,7,1,9,20.0,13032,5,1,both
38,7,7,3108588,1,prior,8,1,14,14.0,12427,1,1,both
39,7,7,3108588,1,prior,8,1,14,14.0,196,2,1,both
40,7,7,3108588,1,prior,8,1,14,14.0,10258,3,1,both
41,7,7,3108588,1,prior,8,1,14,14.0,25133,4,1,both
42,7,7,3108588,1,prior,8,1,14,14.0,46149,5,0,both
43,7,7,3108588,1,prior,8,1,14,14.0,49235,6,0,both
44,8,8,2295261,1,prior,9,1,16,0.0,49235,1,1,both
45,8,8,2295261,1,prior,9,1,16,0.0,46149,2,1,both
46,8,8,2295261,1,prior,9,1,16,0.0,25133,3,1,both
47,8,8,2295261,1,prior,9,1,16,0.0,196,4,1,both
48,8,8,2295261,1,prior,9,1,16,0.0,10258,5,1,both
49,8,8,2295261,1,prior,9,1,16,0.0,12427,6,1,both
50,9,9,2550362,1,prior,10,4,8,30.0,196,1,1,both
51,9,9,2550362,1,prior,10,4,8,30.0,46149,2,1,both
52,9,9,2550362,1,prior,10,4,8,30.0,39657,3,0,both
53,9,9,2550362,1,prior,10,4,8,30.0,38928,4,0,both
54,9,9,2550362,1,prior,10,4,8,30.0,25133,5,1,both
55,9,9,2550362,1,prior,10,4,8,30.0,10258,6,1,both
56,9,9,2550362,1,prior,10,4,8,30.0,35951,7,0,both
57,9,9,2550362,1,prior,10,4,8,30.0,13032,8,1,both
58,9,9,2550362,1,prior,10,4,8,30.0,12427,9,1,both
59,11,11,2168274,2,prior,1,2,11,NaN,32792,1,0,both

In [41]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

removed unnamed columns and _merge flag column from df before exporting to pkl format

In [42]:
df_merged_large.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', '_merge'], inplace=True)

In [43]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

In [44]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [45]:
df_merged_large.shape

(32434489, 10)

In [46]:
count = df_merged_large.groupby('user_id').size()[1]

In [47]:
count

59

In [48]:
df_merged_large.head(59)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0
5,2398795,1,prior,2,3,7,15.0,196,1,1
6,2398795,1,prior,2,3,7,15.0,10258,2,0
7,2398795,1,prior,2,3,7,15.0,12427,3,1
8,2398795,1,prior,2,3,7,15.0,13176,4,0
9,2398795,1,prior,2,3,7,15.0,26088,5,1
10,2398795,1,prior,2,3,7,15.0,13032,6,0
11,473747,1,prior,3,3,12,21.0,196,1,1
12,473747,1,prior,3,3,12,21.0,12427,2,1
13,473747,1,prior,3,3,12,21.0,10258,3,1
14,473747,1,prior,3,3,12,21.0,25133,4,0
15,473747,1,prior,3,3,12,21.0,30450,5,0
16,2254736,1,prior,4,4,7,29.0,196,1,1
17,2254736,1,prior,4,4,7,29.0,12427,2,1
18,2254736,1,prior,4,4,7,29.0,10258,3,1
19,2254736,1,prior,4,4,7,29.0,25133,4,1
20,2254736,1,prior,4,4,7,29.0,26405,5,1
21,431534,1,prior,5,4,15,28.0,196,1,1
22,431534,1,prior,5,4,15,28.0,12427,2,1
23,431534,1,prior,5,4,15,28.0,10258,3,1
24,431534,1,prior,5,4,15,28.0,25133,4,1
25,431534,1,prior,5,4,15,28.0,10326,5,0
26,431534,1,prior,5,4,15,28.0,17122,6,0
27,431534,1,prior,5,4,15,28.0,41787,7,0
28,431534,1,prior,5,4,15,28.0,13176,8,1
29,3367565,1,prior,6,2,7,19.0,196,1,1
30,3367565,1,prior,6,2,7,19.0,12427,2,1
31,3367565,1,prior,6,2,7,19.0,10258,3,1
32,3367565,1,prior,6,2,7,19.0,25133,4,1
33,550135,1,prior,7,1,9,20.0,196,1,1
34,550135,1,prior,7,1,9,20.0,10258,2,1
35,550135,1,prior,7,1,9,20.0,12427,3,1
36,550135,1,prior,7,1,9,20.0,25133,4,1
37,550135,1,prior,7,1,9,20.0,13032,5,1
38,3108588,1,prior,8,1,14,14.0,12427,1,1
39,3108588,1,prior,8,1,14,14.0,196,2,1
40,3108588,1,prior,8,1,14,14.0,10258,3,1
41,3108588,1,prior,8,1,14,14.0,25133,4,1
42,3108588,1,prior,8,1,14,14.0,46149,5,0
43,3108588,1,prior,8,1,14,14.0,49235,6,0
44,2295261,1,prior,9,1,16,0.0,49235,1,1
45,2295261,1,prior,9,1,16,0.0,46149,2,1
46,2295261,1,prior,9,1,16,0.0,25133,3,1
47,2295261,1,prior,9,1,16,0.0,196,4,1
48,2295261,1,prior,9,1,16,0.0,10258,5,1
49,2295261,1,prior,9,1,16,0.0,12427,6,1
50,2550362,1,prior,10,4,8,30.0,196,1,1
51,2550362,1,prior,10,4,8,30.0,46149,2,1
52,2550362,1,prior,10,4,8,30.0,39657,3,0
53,2550362,1,prior,10,4,8,30.0,38928,4,0
54,2550362,1,prior,10,4,8,30.0,25133,5,1
55,2550362,1,prior,10,4,8,30.0,10258,6,1
56,2550362,1,prior,10,4,8,30.0,35951,7,0
57,2550362,1,prior,10,4,8,30.0,13032,8,1
58,2550362,1,prior,10,4,8,30.0,12427,9,1

In [49]:
df_merged_large.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
32434484    False
32434485    False
32434486    False
32434487    False
32434488    False
Length: 32434489, dtype: bool

In [50]:
print(df_merged_large.duplicated().sum())

0